@font-face {
  font-family: 'Font-Noto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /* 400 정석 일반 굵기 고정 */
  src: url('/../node_modules/@fontsource/noto-sans-kr/files/noto-sans-kr-korean-400-normal.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Font-Noto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  /* 700 정석 볼드 굵기 고정 */
  src: url('/../node_modules/@fontsource/noto-sans-kr/files/noto-sans-kr-korean-700-normal.woff2')
    format('woff2');
}

@layer theme, base, antd, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-main-dark: #353c49;
  --color-sub-dark: #8d94a0;
  --color-status-active: #4880ee;
  --color-bg-lightGray: #f2f4f6;
  --color-bg-gray: #6d7582;
  --color-b-gray: #d2d6da;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Font-Noto', sans-serif;
  --color-main: var(--color-main-dark);
  --color-sub-dark: var(--color-sub-dark);
  --color-active: var(--color-status-active);
  --color-light-gray: var(--color-bg-lightGray);
  --color-gray-custom: var(--color-bg-gray);
  --color-border-gray: var(--color-b-gray);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

svg {
  vertical-align: initial;
}

.ant-input-affix-wrapper .ant-input-prefix {
  margin-inline-end: 0px !important;
  margin-right: 0px !important;
}
